# java文件
*.class
*.jar
*.navmesh


# ide工具文件
.classpath
.project
.settings
/.idea/
*.iml
.DS_Store

# 项目文件
/log/
/target/
/mmo-cluster/target/
/mmo-common/target/
/mmo-db/target/
/mmo-engine/target/
/mmo-game/target/
/mmo-gate/target/
/mmo-log/target/
/mmo-login/target/
/mmo-manage/target/
/mmo-scene/target/
/mmo-world/target/

